*.pep linguist-language=perl
*.md linguist-language=perl
*.gff linguist-language=perl
*.block linguist-language=perl
*.png linguist-language=perl
*.txt linguist-language=perl
*.conf linguist-language=perl
*.ini linguist-language=perl
*.py linguist-language=python
*.sh linguist-language=shell
*.r linguist-language=r
*.R linguist-language=r
